
.textfield input {
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 20px;
    width: 95%;
    
}

.textfield label{
    font-size: 17px;
}


button {
    height: 30px;
    width: 80px;
}


#SignBTN {
    background-color: #3457D5;
    border-radius: 5%;
    border: none;
    color: white;
}

#ResetBTN {
    background-color: #E32636;
    border-radius: 5%;
    border: none;
    color: white;
}